@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these lines to your CSS file */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    font-family: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }


  .animate-spin {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.logo{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  letter-spacing: 0;
  line-height: .7;
  text-decoration: none;
  text-transform: none;
}


.listitem{
  font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
}


/* Custom scrollbar styles */
.scrollable {
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100vh; /* Set a height for scrolling */
}

/* Scrollbar for Chrome, Safari, and Opera */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}



